<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PixCountGUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PixCountGUI.Settings1>
            <setting name="Colour0" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="Colour1" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Colour2" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="Colour3" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="Colour4" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Colour5" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="Colour6" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Colour7" serializeAs="String">
                <value>White</value>
            </setting>
        </PixCountGUI.Settings1>
    </userSettings>
</configuration>