<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Fragment>
<DirectoryRef Id="TARGETDIR">
	<Directory Name="CommonAppDataFolder" Id="CommonAppDataFolder">
		<Directory Name="Autodesk" Id="Autodesk">
			<Directory Name="REVIT" Id="REVIT">
				<Directory Name="Addins" Id="Addins">
					<?if $(env.R2014) = Enabled ?>
					<Directory Id="R2014" Name="2014">
						<Component Id="SheetCopierAddin2014" DiskId="1" Guid="C50B7F62-696C-4C22-A080-24214E9475A7">
							<CreateFolder />
							<File Id="SheetCopier14.ADDIN" Name="SheetCopier.addin" Source="..\SheetCopier.addin" />
							<File Id="SheetCopier14.dll" Name="SheetCopier.dll" Source="..\bin\Release\SheetCopier14.dll" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2015) = Enabled ?>
					<Directory Id="SCaddinsAddin2015Directory" Name="2015">
						<Component Id="SheetCopierAddin2015" DiskId="1" Guid="1C612D6F-FB51-4C88-BBD3-C18EE1F6FD58">
							<CreateFolder />
							<File Id="SheetCopier15.ADDIN" Name="SheetCopier.addin" Source="..\SheetCopier.addin" />
							<File Id="SheetCopier15.dll" Name="SheetCopier.dll" Source="..\bin\Release\SheetCopier15.dll" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2016) = Enabled ?>
					<Directory Id="SCaddinsAddin2016Directory" Name="2016">
						<Component Id="SheetCopierAddin2016" DiskId="1" Guid="48448529-D8A6-4655-BB11-2BBBCB1F5B38">
							<CreateFolder />
							<File Id="SheetCopier16.ADDIN" Name="SheetCopier.addin" Source="..\SheetCopier.addin" />
							<File Id="SheetCopier16.dll" Name="SheetCopier.dll" Source="..\bin\Release\SheetCopier16.dll" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2017) = Enabled ?>
					<Directory Id="NewDirectory" Name="2017">
						<Component Id="SheetCopierAddin2017" DiskId="1" Guid="0C45255A-D3B4-4036-B5EE-A862FBDA6F2D">
							<CreateFolder />
							<File Id="SheetCopier17.ADDIN" Name="SheetCopier.addin" Source="..\SheetCopier.addin" />
							<File Id="SheetCopier17.dll" Name="SheetCopier.dll" Source="..\bin\Release\SheetCopier17.dll" />
						</Component>
					</Directory>
					<?endif?>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
</DirectoryRef>
</Fragment>
</Wix>