<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCAddins.SCExport.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.SCincrement.SCincrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.Scaddins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections><startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <SCAddins.SCExport.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>c:/Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs8.71\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs8.71\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>HP Designjet T1100ps 44in PS3</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
        </SCAddins.SCExport.Settings1>
        <SCaddins.SCincrement.SCincrementSettings>
            <setting name="DestinationReplacePattern" serializeAs="String">
                <value>#VAL#$2</value>
            </setting>
            <setting name="DestinationSearchPattern" serializeAs="String">
                <value>(^\d*)(.*$)</value>
            </setting>
            <setting name="IncrementValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceReplacePattern" serializeAs="String">
                <value>$1</value>
            </setting>
            <setting name="SourceSearchPattern" serializeAs="String">
                <value>(^\d*).*$</value>
            </setting>
        </SCaddins.SCincrement.SCincrementSettings>
        <SCaddins.Scaddins>
            <setting name="DisplayOrder" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="UpgradeCheckOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
        </SCaddins.Scaddins>
    </userSettings>
</configuration>