<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
	<Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
		<Directory Name="SCaddins" Id="SCADDINS">
			<Directory Name="AngleOfSun" Id="INSTALLDIR">
				<?if $(env.R2014) = Enabled ?>
				<Directory Id="DLLDIR2014" Name="2014">
					<Component Id="AngleOfSun2014" DiskId="1" Win64="yes" Guid="4BC69C45-59B0-4940-9F81-4168B2F39805">
						<CreateFolder />
						<File Id="AngleOfSun14.dll" Name="AngleOfSun.dll" Source="..\bin\Release\AngleOfSun14.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2015) = Enabled ?>
				<Directory Id="DLLDIR2015" Name="2015">
					<Component Id="AngleOfSun2015" DiskId="1" Win64="yes" Guid="09BAFA66-23E1-44E7-90A2-67E47113334E">
						<CreateFolder />
						<File Id="AngleOfSun15.dll" Name="AngleOfSun.dll" Source="..\bin\Release\AngleOfSun15.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2016) = Enabled ?>
				<Directory Id="DLLDIR2016" Name="2016">
					<Component Id="AngleOfSun2016" DiskId="1" Win64="yes" Guid="7F39EE2E-17BE-44A1-88EB-906F7AE972F5">
						<CreateFolder />
						<File Id="AngleOfSun16.dll" Name="AngleOfSun.dll" Source="..\bin\Release\AngleOfSun16.dll" />
					</Component>
				</Directory>
				<?endif?>
				<Directory Id="DLLDIR2017" Name="2017">
					<Component Id="AngleOfSun2017" DiskId="1" Guid="F5835570-CD5D-4A72-A133-918687C33A51">
						<CreateFolder />
						<File Id="AngleOfSun17.dll" Name="AngleOfSun.dll" Source="..\bin\Release\AngleOfSun17.dll" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
	<Directory Name="CommonAppDataFolder" Id="CommonAppDataFolder">
		<Directory Name="Autodesk" Id="Autodesk">
			<Directory Name="REVIT" Id="REVIT">
				<Directory Name="Addins" Id="Addins">
					<?if $(env.R2014) = Enabled ?>
					<Directory Id="R2014" Name="2014">
						<Component Id="AngleOfSunAddin2014" DiskId="1" Guid="15CB323E-890D-4A60-9CAC-E6ECA61D453F">
							<CreateFolder />
							<File Id="ANGLEOFSUN14.ADDIN" Name="AngleOfSun.addin" Source="..\Manifest\2014\AngleOfSun.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2015) = Enabled ?>
					<Directory Id="SCaddinsAddin2015Directory" Name="2015">
						<Component Id="AngleOfSunAddin2015" DiskId="1" Guid="CDC2F6D5-243C-4470-BE6D-4620B8A04A57">
							<CreateFolder />
							<File Id="ANGLEOFSUN15.ADDIN" Name="AngleOfSun.addin" Source="..\Manifest\2015\AngleOfSun.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2016) = Enabled ?>
					<Directory Id="SCaddinsAddin2016Directory" Name="2016">
						<Component Id="AngleOfSunAddin2016" DiskId="1" Guid="B2D91EA8-C743-4FEF-885C-433B235B548B">
							<CreateFolder />
							<File Id="ANGLEOFSUN16.ADDIN" Name="AngleOfSun.addin" Source="..\Manifest\2016\AngleOfSun.addin" />
						</Component>
					</Directory>
					<?endif?>
					<Directory Id="NewDirectory" Name="2017">
						<Component Id="AngleOfSunAddin2017" DiskId="1" Guid="152BA2FC-AAEF-4D2E-A3DB-5D5BAB3FD7A2">
							<CreateFolder />
							<File Id="ANGLEOFSUN17.ADDIN" Name="AngleOfSun.addin" Source="..\Manifest\2017\AngleOfSun.addin" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
</DirectoryRef>
	</Fragment>
</Wix>