<?xml version="1.0"?>
<?define Version = "!(bind.fileVersion.SheetCopier16.dll)" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*"
        Name="Sheet Copier (64 bit)"
        Language="1033"
        Version="$(var.Version)"
        UpgradeCode="26B87E81-F339-4B2D-9CC5-F04841A6DCBE"
        Manufacturer="Andrew Nicholas">
        <Package Description="Sheet Copier Add-in for Revit."
            Comments="Sheet Copier Revit Add-in"
            InstallerVersion="200"
            Compressed="yes"/>
                <!--
                        Source media for the installation. 
                        Specifies a single cab file to be embedded in the installer's .msi. 
                -->
                <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

                <!-- Installation directory and files are defined in Files.wxs -->
                <Directory Id="TARGETDIR" Name="SourceDir"/>	

                <?if $(env.R2014) = Enabled ?> 
                <Feature Id="Revit2014" Level="1" Title="Sheet Copier for Revit 2014">
                    <ComponentRef Id="SheetCopierAddin2014" />
                </Feature>
                <?endif?>
                
                <?if $(env.R2015) = Enabled ?> 
                <Feature Id="Revit2015" Level="1" Title="Sheet Copier for Revit 2015">
                    <ComponentRef Id="SheetCopierAddin2015" />
                </Feature>
                <?endif?>
                
                <?if $(env.R2016) = Enabled ?> 
                <Feature Id="Revit2016" Level="1" Title="Sheet Copier for Revit 2016">
                    <ComponentRef Id="SheetCopierAddin2016" />
                </Feature>
                <?endif?>
                
                <?if $(env.R2017) = Enabled ?> 
                <Feature Id="Revit2017" Level="1" Title="Sheet Copier for Revit 2017">
                    <ComponentRef Id="SheetCopierAddin2017" />
                </Feature>
                <?endif?>

                <WixVariable Id="WixUIDialogBmp" Value="wixd.bmp" />
                <WixVariable Id="WixUIBannerBmp" Value="wixb.bmp" />
                <Icon Id="sheetcopier.ico" SourceFile="SheetCopier.ico" />
                <Property Id="ARPPRODUCTICON" Value="sheetcopier.ico" />
                <Property Id="ARPCONTACT" Value="andrewnicholas@iinet.net.au" />
                <Property Id="ARPHELPLINK" Value="https://bitbucket.org/anicholas/scaddins/wiki/Home"/>
                <Property Id="ARPURLUPDATEINFO" Value="https://bitbucket.org/anicholas/scaddins/downloads" />

                <MajorUpgrade AllowDowngrades="yes"/>

                <UI Id='Mondo'>
                    <UIRef Id="WixUI_Mondo"/>
                    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3">1</Publish>
                    <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>	
                </UI>

            </Product>
        </Wix>
