<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SCaddins.SheetCopier.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.ParameterUtilities.IncrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.ExportSchedules.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.ViewUtilities.ViewUtilitiesSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.SpellChecker.SpellCheckerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.ModelSetupWizard.ModelSetupWizardSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.ExportManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCAddins.SCExport.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.SCincrement.SCincrementSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCaddins.Scaddins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SCaddins.SheetCopier.Settings>
            <setting name="CustomSheetParameterOne" serializeAs="String">
                <value>SC-Sheet_Category_Primary</value>
            </setting>
            <setting name="CustomSheetParameterTwo" serializeAs="String">
                <value>SC-Sheet_Category_Secondary</value>
            </setting>
            <setting name="DeleteRevisionClouds" serializeAs="String">
                <value>True</value>
            </setting>
        </SCaddins.SheetCopier.Settings>
        <SCaddins.ParameterUtilities.IncrementSettings>
            <setting name="CustomParameterName" serializeAs="String">
                <value>Window Instance Number</value>
            </setting>
            <setting name="DestinationReplacePattern" serializeAs="String">
                <value>#VAL#$2</value>
            </setting>
            <setting name="DestinationSearchPattern" serializeAs="String">
                <value>(^\d*)(.*$)</value>
            </setting>
            <setting name="IncrementValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceReplacePattern" serializeAs="String">
                <value>$1</value>
            </setting>
            <setting name="SourceSearchPattern" serializeAs="String">
                <value>(^\d*).*$</value>
            </setting>
            <setting name="UseCustomParameterName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepLeadingZeros" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDestinationSearchPattern" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.ParameterUtilities.IncrementSettings>
        <SCaddins.ExportSchedules.Settings>
            <setting name="ExportTitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportColumnHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeGroupedColumnHeaders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportGrouppHeaderAndFooters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FieldDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="TextQualifier" serializeAs="String">
                <value>"</value>
            </setting>
            <setting name="ExportExcel" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.ExportSchedules.Settings>
        <SCaddins.ViewUtilities.ViewUtilitiesSettings>
            <setting name="UserViewNameFormat" serializeAs="String">
                <value>$user-&lt;&lt;View Name&gt;&gt;-$date</value>
            </setting>
            <setting name="FirstParamName" serializeAs="String">
                <value>SC-View_Category_Primary</value>
            </setting>
            <setting name="FirstParamValue" serializeAs="String">
                <value>USER</value>
            </setting>
            <setting name="SecondParamName" serializeAs="String">
                <value>SC-View_Category_Secondary</value>
            </setting>
            <setting name="SecondParamValue" serializeAs="String">
                <value>$user</value>
            </setting>
            <setting name="ThirdParamName" serializeAs="String">
                <value />
            </setting>
            <setting name="ThirdParamValue" serializeAs="String">
                <value />
            </setting>
        </SCaddins.ViewUtilities.ViewUtilitiesSettings>
        <SCaddins.SpellChecker.SpellCheckerSettings>
            <setting name="ElementIgnoreList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Autodesk.Revit.DB.Material</string>
                        <string>Autodesk.Revit.DB.ProperySetElement</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SCaddins.SpellChecker.SpellCheckerSettings>
        <SCaddins.ModelSetupWizard.ModelSetupWizardSettings>
            <setting name="NomArchitectParamName" serializeAs="String">
                <value>Nominated Architect</value>
            </setting>
            <setting name="NomArchitectNoumberParamName" serializeAs="String">
                <value>Nominated Architect Number</value>
            </setting>
            <setting name="FileNameParameterName" serializeAs="String">
                <value>Central Filename</value>
            </setting>
            <setting name="SystemConfigFilePath" serializeAs="String">
                <value>J:\Revit\Data\scaddins_modelsetup_config.xml</value>
            </setting>
            <setting name="LoadSystemConfigOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultWorksets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>A-Architecture;1</string>
                        <string>A-Entourage;0</string>
                        <string>A-Façade;True;&lt;/string&gt;</string>
                        <string>A-FFE;False;&lt;/string&gt;</string>
                        <string>A-Interior Layouts;False;&lt;/string&gt;</string>
                        <string>A-Scope Box;0</string>
                        <string>A-Shared Levels and Grids;0</string>
                        <string>A-Site and Landscape;0</string>
                        <string>A-Structure;0</string>
                        <string>S.SC-Link RVT-Project Control;0</string>
                        <string>S.SC-Link RVT-Cad Container;0</string>
                        <string>S.SC-Link RVT-Base Model 1;0</string>
                        <string>S.SC-Link RVT-Base Model 2;0</string>
                        <string>S.SC-Link RVT-Interior;0</string>
                        <string>Z-Link DWG;0</string>
                        <string>Z-Link RVT-Electrical0</string>
                        <string>Z-Link RVT-Hydraulics;0</string>
                        <string>Z-Link RVT-Mechanical;0</string>
                        <string>Z-Link RVT-Structure;0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultProjectInformation" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Project Number; YYYYMMDD;^[0-9]{8}$</string>
                        <string>Project Status;Preliminary</string>
                        <string>Project Address;Enter Address Here</string>
                        <string>Nominated Architect Number;;^[0-9]{4,5}$</string>
                        <string>Organization Name;Studio.SC Pty. Ltd.</string>
                        <string>Author;Studio.SC Pty. Ltd.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultArchitectInformation" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Joe Bloggs; 1111</string>
                        <string>Mary Lee; 2222</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ColourSchemes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Autumn;595959;59F3FF;63B8F7;7B83E5;A99A73;E6DBA5;B0DCCD;8BA559;999999;99F8FF;9FD3FA;AEB3EF;CAC1A9;EFE9C8;CFEAE0;B8C799</string>
                        <string>Spring;595959;59F3FF;63B8F7;7B83E5;EDC059;E6DBA5;B0DCCE;A5D19B;999999;99F8FF;9FD3FA;AEB3EF;F4D899;EFE9C8;CFEAE1;C8E3C1</string>
                        <string>Summer;595959;AA59EE;59F3FF;63B8F7;7B83E5;E6DBA5;C3C962;B0DCCE;999999;CB99F5;99F8FF;9FD3FA;AEB3EF;EFE9C8;DADE9F;CFEAE1</string>
                        <string>Winter;595959;E6DBA5;B0DCCE;A5D19B;8BA559;94C1E2;7D94CE;8A92B3;999999;EFE9C8;CFEAE1;C8E3C1;B8C799;BDD9ED;AFBDE1;B7BCD1</string>
                    </ArrayOfString>
                </value>
            </setting>
        </SCaddins.ModelSetupWizard.ModelSetupWizardSettings>
        <SCaddins.ExportManager.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCPRINT01\FollowME_Colour</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCPRINT01\DocuWide 3037 PS</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="UseDateForEmptyRevisions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseRasterPrinterParameter" serializeAs="String">
                <value>Force Raster Print</value>
            </setting>
            <setting name="ExportViewportsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerifyOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InvalidSheetNameChars" serializeAs="String">
                <value>()[]</value>
            </setting>
            <setting name="InvalidSheetNumberChars" serializeAs="String">
                <value>()[]</value>
            </setting>
            <setting name="ExportAdditionalViewports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomSCExportParameter01" serializeAs="String">
                <value>Custom Parameter Name</value>
            </setting>
            <setting name="PDF24PrinterDriver" serializeAs="String">
                <value>PDF24</value>
            </setting>
        </SCaddins.ExportManager.Settings1>
        <SCAddins.SCExport.Settings1>
            <setting name="A3PrinterDriver" serializeAs="String">
                <value>\\SCAPP01\FollowYouColour</value>
            </setting>
            <setting name="AcadExportVersion" serializeAs="String">
                <value>R2010</value>
            </setting>
            <setting name="AdobePDFMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdobePrinterDriver" serializeAs="String">
                <value>Adobe PDF</value>
            </setting>
            <setting name="ExportDir" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="ForceDateRevision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GSBinDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\bin</value>
            </setting>
            <setting name="GSLibDirectory" serializeAs="String">
                <value>C:\Program Files\gs\gs9.15\lib</value>
            </setting>
            <setting name="HideTitleBlocks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LargeFormatPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="NorthPointVisibilityParameter" serializeAs="String">
                <value>North Point</value>
            </setting>
            <setting name="PSPrinterDriver" serializeAs="String">
                <value>\\SCAPP01\DocuWide3035 (PS)</value>
            </setting>
            <setting name="ScalebarScaleParameter" serializeAs="String">
                <value>Scalebar Scale</value>
            </setting>
            <setting name="ShowExportLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TagPDFExports" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value>notepad.exe</value>
            </setting>
            <setting name="UseDateForEmptyRevisions" serializeAs="String">
                <value>True</value>
            </setting>
        </SCAddins.SCExport.Settings1>
        <SCaddins.SCincrement.SCincrementSettings>
            <setting name="CustomParameterName" serializeAs="String">
                <value>Window Instance Number</value>
            </setting>
            <setting name="DestinationReplacePattern" serializeAs="String">
                <value>#VAL#$2</value>
            </setting>
            <setting name="DestinationSearchPattern" serializeAs="String">
                <value>(^\d*)(.*$)</value>
            </setting>
            <setting name="IncrementValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OffsetValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceReplacePattern" serializeAs="String">
                <value>$1</value>
            </setting>
            <setting name="SourceSearchPattern" serializeAs="String">
                <value>(^\d*).*$</value>
            </setting>
            <setting name="UseCustomParameterName" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.SCincrement.SCincrementSettings>
        <SCaddins.Scaddins>
            <setting name="UpgradeCheckOnStartUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </SCaddins.Scaddins>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Xceed.Wpf.AvalonDock" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Linq" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.2.4.0" newVersion="1.2.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.FlowAnalysis.Utilities" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.9.5.0" newVersion="2.9.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.33.0" newVersion="1.0.33.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Console" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="KeraLua" publicKeyToken="6a194c04b9c89217" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Xaml.Behaviors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71e9bce111e9429c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>