<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
	<Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
		<Directory Name="SCaddins" Id="SCADDINS">
			<Directory Name="SCaddins" Id="INSTALLDIR">
				<Directory Name="share" Id="SHAREDIR">
					<Component Id="SCexportConfigProto" Guid="E467582F-2BA7-4FC3-8DA9-3773449DD236" Win64="yes">
						<File Id="SCEXPORT_EXAMPLE_CONF.XML" Name="SCexport-example-conf.xml" Source="..\share\SCexport-example-conf.xml" />
						<CreateFolder />
					</Component>
					<Directory Id="ICONDIR" Name="icons">
						<Component Id="SCaddinsIcons" Guid="460F46A6-4E6B-458A-A3CD-4E0CEBB56E16" DiskId="1" Win64="yes">
							<File Id="scaos_rvt.png" Name="scaos-rvt.png" Source="..\share\icons\ribbon\scaos-rvt.png" />
							<File Id="scexport_rvt.png" Name="scexport-rvt.png" Source="..\share\icons\ribbon\scexport-rvt.png" />
							<File Id="scightlines_rvt.png" Name="scightlines-rvt.png" Source="..\share\icons\ribbon\scightlines-rvt.png" />
							<File Id="scincrement_rvt.png" Name="scincrement-rvt.png" Source="..\share\icons\ribbon\scincrement-rvt.png" />
							<File Id="scloudsched_rvt.png" Name="scloudsched-rvt.png" Source="..\share\icons\ribbon\scloudsched-rvt.png" />
							<File Id="scoord_rvt.png" Name="scoord-rvt.png" Source="..\share\icons\ribbon\scoord-rvt.png" />
							<File Id="scopy_rvt.png" Name="scopy-rvt.png" Source="..\share\icons\ribbon\scopy-rvt.png" />
							<File Id="sculcase_rvt.png" Name="sculcase-rvt.png" Source="..\share\icons\ribbon\sculcase-rvt.png" />
							<File Id="scwash_rvt.png" Name="scwash-rvt.png" Source="..\share\icons\ribbon\scwash-rvt.png" />
						</Component>
					</Directory>
					<Directory Id="RFADIR" Name="rfa">
						<Directory Id="RFAFILES2014" Name="2014" />
						<Directory Id="RFAFILES2015" Name="2015" />
					</Directory>
				</Directory>
				<Directory Name="etc" Id="ETCDIR">
					<Component Id="SCaddinsEtc" Win64="yes" Guid="433296A6-F7CC-40A2-9826-33A16437BED0">
						<CreateFolder />
						<File Id="SCEXPORT.XSD" Name="SCexport.xsd" Source="..\etc\SCexport.xsd" />
					</Component>
				</Directory>
				<Directory Id="DLLDIR2014" Name="2014">
					<Component Id="SCaddins2014" DiskId="1" Guid="103FC570-FEE8-4CF7-A35A-1162A00B45E6" Win64="yes">
						<CreateFolder />
						<File Id="SCaddins2014.dll" Name="SCaddins.dll" Source="..\bin\Release\SCaddins.dll" />
					</Component>
				</Directory>
				<Directory Id="DLLDIR2015" Name="2015">
					<Component Id="SCaddins2015" DiskId="1" Guid="7F1CE98E-1FC3-490F-A5C4-72B69FD0C5A3" Win64="yes">
						<CreateFolder />
						<File Id="SCaddins2015.dll" Name="SCaddins.dll" Source="..\bin\Release\SCaddins.dll" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
	<Directory Name="CommonAppDataFolder" Id="CommonAppDataFolder">
		<Directory Name="Autodesk" Id="Autodesk">
			<Directory Name="REVIT" Id="REVIT">
				<Directory Name="Addins" Id="Addins">
					<Directory Id="R2014" Name="2014">
						<Component Id="SCaddinsAddin2014" DiskId="1" Guid="ED49B2CE-28D8-4E49-8CD0-063DAB6DD0BA">
							<CreateFolder />
							<File Id="SCADDINS14.ADDIN" Name="SCaddins14.addin" Source="..\src\Manifest\2014\SCaddins.addin" />
						</Component>
					</Directory>
					<Directory Id="NewDirectory" Name="2015">
						<Component Id="SCaddinsAddin2015" DiskId="1" Guid="F70553D6-1822-4937-96DF-1B262F214DD3">
							<CreateFolder />
							<File Id="SCADDINS15.ADDIN" Name="SCaddins15.addin" Source="..\src\Manifest\2015\SCaddins.addin" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
	<Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
		<Directory Id="SCaddinsParent" Name="SCaddins">
			<Directory Id="SCaddins" Name="SCaddins">
				<Directory Id="OPT32DIR" Name="opt">
					<Component Id="SCaddinsOpt32" Guid="D5251FB8-6BFE-4313-81EE-B59A6660745A" Win64="no">
						<CreateFolder />
						<File Id="LIBICONV2.DLL" Name="libiconv2.dll" Source="..\opt\libiconv2.dll" />
						<File Id="PDFTK.EXE" Name="pdftk.exe" Source="..\opt\pdftk.exe" />
					</Component>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
</DirectoryRef>
	</Fragment>
</Wix>