<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
	<Directory Id="ProgramFiles64Folder" Name="ProgramFiles64Folder">
		<Directory Name="SCaddins" Id="SCADDINS">
			<Directory Name="SCaddins" Id="INSTALLDIR">
				<Directory Name="share" Id="SHAREDIR">
					<Component Id="SCexportConfigProto" Guid="E467582F-2BA7-4FC3-8DA9-3773449DD236" Win64="yes">
						<File Id="SCEXPORT_EXAMPLE_CONF.XML" Name="SCexport-example-conf.xml" Source="..\share\SCexport-example-conf.xml" />
						<CreateFolder />
					</Component>
					<Directory Id="RFADIR" Name="rfa">
						<Directory Id="RFAFILES2016" Name="2016">
							<?if $(env.R2016) = Enabled ?>
							<Component Id="SCaddinsRFA2016" Guid="5A4670F8-0154-4072-B3DF-03308798A1CE" DiskId="1" Win64="yes">
								<CreateFolder />
								<File Id="_016.SC_Survey_Point.rfa" Name="SC-Survey_Point.rfa" Source="..\share\rfa\2016\SC-Survey_Point.rfa" />
							</Component>
							<?endif?>
						</Directory>
						<Directory Id="RFAFILES2017" Name="2017">
							<?if $(env.R2017) = Enabled ?>
							<Component Id="SCaddinsRFA2017" Guid="12A17D8D-5DC0-413B-8B71-C0F36B2BB9C7" DiskId="1" Win64="yes">
								<CreateFolder />
								<File Id="_017.SC_Survey_Point.rfa" Name="SC-Survey_Point.rfa" Source="..\share\rfa\2017\SC-Survey_Point.rfa" />
							</Component>
							<?endif?>
						</Directory>
						<Directory Id="RFAFILES2018" Name="2018">
							<?if $(env.R2018) = Enabled ?>
							<Component Id="SCaddinsRFA2018" Guid="1610E6AA-DDA3-4D1E-B734-174CFBB94313" Win64="yes" DiskId="1">
								<CreateFolder />
								<File Id="_018.SC_Survey_Point.rfa" Name="SC-Survey_Point.rfa" Source="..\share\rfa\2018\SC-Survey_Point.rfa" />
							</Component>
							<?endif?>
						</Directory>
						<Directory Id="RFAFILES2019" Name="2019">
							<?if $(env.R2019) = Enabled ?>
							<Component Id="SCaddinsRFA2019" Guid="2C29F31E-597B-4F61-958A-DFCD59CDEF6D" Win64="yes" DiskId="1">
								<CreateFolder />
								<File Id="_019.SC_Survey_Point.rfa" Name="SC-Survey_Point.rfa" Source="..\share\rfa\2019\SC-Survey_Point.rfa" />
							</Component>
							<?endif?>
						<Directory Id="RFAFILES2020" Name="2020">
							<?if $(env.R2020) = Enabled ?>
							<Component Id="SCaddinsRFA2020" Guid="983916bd-8a83-4494-b3f4-5f56711b3d3d" Win64="yes" DiskId="1">
								<CreateFolder />
								<File Id="_020.SC_Survey_Point.rfa" Name="SC-Survey_Point.rfa" Source="..\share\rfa\2020\SC-Survey_Point.rfa" />
							</Component>
							<?endif?>
						</Directory>
						</Directory>
					</Directory>
				</Directory>
				<Directory Name="etc" Id="ETCDIR">
					<Component Id="SCaddinsEtc" Win64="yes" Guid="433296A6-F7CC-40A2-9826-33A16437BED0">
						<CreateFolder />
						<File Id="SCEXPORT.XSD" Name="SCexport.xsd" Source="..\etc\SCexport.xsd" />
					</Component>
				</Directory>
				<?if $(env.R2016) = Enabled ?>
				<Directory Id="DLLDIR2016" Name="2016">
					<Component Id="SCaddins2016" Guid="DFB2A497-BA0C-41DF-8443-29CB5FCD9CF8" DiskId="1" Win64="yes">
						<CreateFolder />
						<File Id="SCaddins2016.dll" Name="SCaddins.dll" Source="..\src\bin\Release2016\SCaddins.dll" />
						<File Id="net45.Newtonsoft.Json1.dll" Name="Newtonsoft.Json.dll" Source="..\src\bin\Release2016\Newtonsoft.Json.dll" />
						<File Id="CM16" Name="Caliburn.Micro.dll" Source="..\src\bin\Release2016\Caliburn.Micro.dll" />
						<File Id="CMP16" Name="Caliburn.Micro.Platform.dll" Source="..\src\bin\Release2016\Caliburn.Micro.Platform.dll" />
						<File Id="CMPC16" Name="Caliburn.Micro.Platform.Core.dll" Source="..\src\bin\Release2016\Caliburn.Micro.Platform.Core.dll" />
            <File Id="SWI16" Name="System.Windows.Interactivity.dll" Source="..\src\bin\Release2016\System.Windows.Interactivity.dll" />
            <File Id="IFP16" Name="INIFileParser.dll" Source="..\src\bin\Release2016\INIFileParser.dll" />
            <File Id="XTK16" Name="Xceed.Wpf.Toolkit.dll" Source="..\src\bin\Release2016\Xceed.Wpf.Toolkit.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2017) = Enabled ?>
				<Directory Id="DLLDIR2017" Name="2017">
					<Component Id="SCaddins2017" Guid="BC1E0969-FB15-446C-B35B-8AF899054B21" DiskId="1" Win64="yes">
						<CreateFolder />
						<File Id="SCaddins2017.dll" Name="SCaddins.dll" Source="..\src\bin\Release2017\SCaddins.dll" />
						<File Id="net45.Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="..\src\bin\Release2017\Newtonsoft.Json.dll" />
						<File Id="CM17" Name="Caliburn.Micro.dll" Source="..\src\bin\Release2017\Caliburn.Micro.dll" />
						<File Id="CMP17" Name="Caliburn.Micro.Platform.dll" Source="..\src\bin\Release2017\Caliburn.Micro.Platform.dll" />
						<File Id="CMPC17" Name="Caliburn.Micro.Platform.Core.dll" Source="..\src\bin\Release2017\Caliburn.Micro.Platform.Core.dll" />
            <File Id="SWI17" Name="System.Windows.Interactivity.dll" Source="..\src\bin\Release2017\System.Windows.Interactivity.dll" />
            <File Id="IFP17" Name="INIFileParser.dll" Source="..\src\bin\Release2017\INIFileParser.dll" />
            <File Id="XTK17" Name="Xceed.Wpf.Toolkit.dll" Source="..\src\bin\Release2017\Xceed.Wpf.Toolkit.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2018) = Enabled ?>
				<Directory Id="DLLDIR2018" Name="2018">
					<Component Id="SCaddins2018" Guid="0A8DD595-4441-4020-B028-261905422C49" Win64="yes" DiskId="1">
						<CreateFolder />
						<File Id="SCaddins2018.dll" Name="SCaddins.dll" Source="..\src\bin\Release2018\SCaddins.dll" />
						<File Id="Newtonsoft.Json.dll.18" Name="Newtonsoft.Json.dll" Source="..\src\bin\Release2018\Newtonsoft.Json.dll" />
						<File Id="CM18" Name="Caliburn.Micro.dll" Source="..\src\bin\Release2018\Caliburn.Micro.dll" />
						<File Id="CMP18" Name="Caliburn.Micro.Platform.dll" Source="..\src\bin\Release2018\Caliburn.Micro.Platform.dll" />
						<File Id="CMPC18" Name="Caliburn.Micro.Platform.Core.dll" Source="..\src\bin\Release2018\Caliburn.Micro.Platform.Core.dll" />
            <File Id="IFP18" Name="INIFileParser.dll" Source="..\src\bin\Release2018\INIFileParser.dll" />
            <File Id="XTK18" Name="Xceed.Wpf.Toolkit.dll" Source="..\src\bin\Release2018\Xceed.Wpf.Toolkit.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2019) = Enabled ?>
				<Directory Id="DLLDIR2019" Name="2019">
					<Component Id="SCaddins2019" Guid="36E20380-561B-47FD-AE2E-54857537BE90" Win64="yes" DiskId="1">
						<CreateFolder />
						<File Id="SCaddins2019.dll" Name="SCaddins.dll" Source="..\src\bin\Release2019\SCaddins.dll" />
						<File Id="Newtonsoft.Json.dll.19" Name="Newtonsoft.Json.dll" Source="..\src\bin\Release2019\Newtonsoft.Json.dll" />
						<File Id="CM19" Name="Caliburn.Micro.dll" Source="..\src\bin\Release2019\Caliburn.Micro.dll" />
						<File Id="CMP19" Name="Caliburn.Micro.Platform.dll" Source="..\src\bin\Release2019\Caliburn.Micro.Platform.dll" />
						<File Id="CMPC19" Name="Caliburn.Micro.Platform.Core.dll" Source="..\src\bin\Release2019\Caliburn.Micro.Platform.Core.dll" />
            <File Id="IFP19" Name="INIFileParser.dll" Source="..\src\bin\Release2019\INIFileParser.dll" />
            <File Id="XTK19" Name="Xceed.Wpf.Toolkit.dll" Source="..\src\bin\Release2019\Xceed.Wpf.Toolkit.dll" />
					</Component>
				</Directory>
				<?endif?>
				<?if $(env.R2020) = Enabled ?>
				<Directory Id="DLLDIR2020" Name="2020">
					<Component Id="SCaddins2020" Guid="b1c2d4c6-19b0-4c87-8f71-8014f87a55ce" Win64="yes" DiskId="1">
						<CreateFolder />
						<File Id="SCaddins2020.dll" Name="SCaddins.dll" Source="..\src\bin\Release2020\SCaddins.dll" />
						<File Id="Newtonsoft.Json.dll.20" Name="Newtonsoft.Json.dll" Source="..\src\bin\Release2020\Newtonsoft.Json.dll" />
						<File Id="CM20" Name="Caliburn.Micro.dll" Source="..\src\bin\Release2020\Caliburn.Micro.dll" />
						<File Id="CMP20" Name="Caliburn.Micro.Platform.dll" Source="..\src\bin\Release2020\Caliburn.Micro.Platform.dll" />
						<File Id="CMPC20" Name="Caliburn.Micro.Platform.Core.dll" Source="..\src\bin\Release2020\Caliburn.Micro.Platform.Core.dll" />
            <File Id="IFP20" Name="INIFileParser.dll" Source="..\src\bin\Release2020\INIFileParser.dll" />
            <File Id="XTK20" Name="Xceed.Wpf.Toolkit.dll" Source="..\src\bin\Release2020\Xceed.Wpf.Toolkit.dll" />
					</Component>
				</Directory>
				<?endif?>
			</Directory>
		</Directory>
	</Directory>
	<Directory Name="CommonAppDataFolder" Id="CommonAppDataFolder">
		<Directory Name="Autodesk" Id="Autodesk">
			<Directory Name="REVIT" Id="REVIT">
				<Directory Name="Addins" Id="Addins">
					<?if $(env.R2016) = Enabled ?>
					<Directory Id="SCaddinsAddin2016Directory" Name="2016">
						<Component Id="SCaddinsAddin2016" Guid="70474050-0034-4A79-BF47-AF18E41EDC0D" DiskId="1">
							<CreateFolder />
							<File Id="SCADDINS16.ADDIN" Name="SCaddins16.addin" Source="..\src\bin\Release2016\SCaddins2016.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2017) = Enabled ?>
					<Directory Id="SCaddinsAddin2017Directory" Name="2017">
						<Component Id="SCaddinsAddin2017" Guid="F2D456ED-8A1C-4B3C-9926-770369DA8E42" DiskId="1">
							<CreateFolder />
							<File Id="SCADDINS17.ADDIN" Name="SCaddins17.addin" Source="..\src\bin\Release2017\SCaddins2017.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2018) = Enabled ?>
					<Directory Id="SCaddinsAddin2018Directory" Name="2018">
						<Component Id="SCaddinsAddin2018" Guid="67944DB5-77B9-4CB6-82E8-5B8C2EAFD213" DiskId="1">
							<CreateFolder />
							<File Id="SCADDINS18.ADDIN" Name="SCaddins18.addin" Source="..\src\bin\Release2018\SCaddins2018.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2019) = Enabled ?>
					<Directory Id="SCaddinsAddin2019Directory" Name="2019">
						<Component Id="SCaddinsAddin2019" Guid="3A73B94B-4C64-4302-954F-07249C27E5E1" DiskId="1">
							<CreateFolder />
							<File Id="SCADDINS19.ADDIN" Name="SCaddins19.addin" Source="..\src\bin\Release2019\SCaddins2019.addin" />
						</Component>
					</Directory>
					<?endif?>
					<?if $(env.R2020) = Enabled ?>
					<Directory Id="SCaddinsAddin2020Directory" Name="2020">
						<Component Id="SCaddinsAddin2020" Guid="c6f66526-f851-4d92-a5bd-2b857345828d" DiskId="1">
							<CreateFolder />
							<File Id="SCADDINS20.ADDIN" Name="SCaddins20.addin" Source="..\src\bin\Release2020\SCaddins2020.addin" />
						</Component>
					</Directory>
					<?endif?>
				</Directory>
			</Directory>
		</Directory>
	</Directory>
</DirectoryRef>
	</Fragment>
</Wix>
