<?xml version="1.0"?>
<?define Version = "!(bind.fileVersion.SCEXPORT14.DLL)" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="SCaddins - SC Revit Addins (64 bit)"
		Language="1033"
		Version="$(var.Version)"
		UpgradeCode="F9D83B19-ABC8-4DBE-A5D7-7DD7C16EBB8D"
		Manufacturer="Andrew Nicholas">
		<Package Description="A Revit add-in to batch export files with consistent file naming and revisions."
			Comments="SCexport - SC Revit Export Utility"
			InstallerVersion="200"
			Compressed="yes"/>
		<!--
			Source media for the installation. 
			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir"/>	
		<Feature Id="Revit2014" Level="1" Title="SCexport for Revit 2014">
			<ComponentRef Id="SCaddins14" />
			<ComponentRef Id="SCaddinsAddin14" />
		</Feature>
	    <Feature Id="Revit2015" Level="1" Title="SCexport for Revit 2015">
			<ComponentRef Id="SCaddins15" />
			<ComponentRef Id="SCaddinsAddin15" />
		</Feature>
		<Feature Id="pdftk" Level="1" Title="PDF Tagging Capability for SCexport (pdftk)">
			<ComponentRef Id="pdftk" />
		</Feature>
		<Feature Id="config" Level="1" Title="Xml configuration files and examples for SCexport">
			<ComponentRef Id="Example" />
			<ComponentRef Id="Data" />
		</Feature>

		<WixVariable Id="WixUIDialogBmp" Value="wixd.bmp" />
		<WixVariable Id="WixUIBannerBmp" Value="wixb.bmp" />
		<Icon Id="SC.ico" SourceFile="..\data\Resources\SC.ico" />
		<Property Id="ARPPRODUCTICON" Value="SC.ico" />
		<Property Id="ARPCONTACT" Value="andrewnicholas@iinet.net.au" />
                <Property Id="ARPHELPLINK" Value="https://bitbucket.org/anicholas/scaddins/wiki/Home"/>
                <Property Id="ARPURLUPDATEINFO" Value="https://bitbucket.org/anicholas/scaddins/downloads" />

		<MajorUpgrade AllowDowngrades="yes"/>

		<UI Id='Mondo'>
			<UIRef Id="WixUI_Mondo"/>
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3">1</Publish>
			<Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>	
		</UI>

	</Product>
</Wix>
