<?xml version="1.0"?>
<?define Version = "!(bind.fileVersion.SCaddins2017.dll)" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*"
        Name="SCaddins - SC Revit Addins (64 bit)"
        Language="1033"
        Version="$(var.Version)"
        UpgradeCode="07AD607C-D456-47A6-A45F-3E8C6BD88278"
        Manufacturer="Andrew Nicholas">
        <Package Description="SC Revit Add-ins."
            Comments="SCaddins - SC Revit Add-ins"
            InstallerVersion="200"
            Compressed="yes"/>
                <!--
                        Source media for the installation. 
                        Specifies a single cab file to be embedded in the installer's .msi. 
                -->
                <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
        
                <util:CloseApplication Id="CloseRevit" RebootPrompt="no" EndSessionMessage="yes" Target="revit.exe" />

                <!-- Installation directory and files are defined in Files.wxs -->
                <Directory Id="TARGETDIR" Name="SourceDir"/>	

                <?if $(env.R2016) = Enabled ?> 
                <Feature Id="Revit2016" Level="1" Title="SCaddins for Revit 2016">
                    <ComponentRef Id="SCaddins2016" />
                    <ComponentRef Id="SCaddinsAddin2016" />
                    <ComponentRef Id="SCaddinsEtc" />
                    <ComponentRef Id="SCexportConfigProto" />
                    <ComponentRef Id="SCaddinsRFA2016" />
                </Feature>
                <?endif?>
                
                <?if $(env.R2017) = Enabled ?> 
                <Feature Id="Revit2017" Level="1" Title="SCaddins for Revit 2017">
                    <ComponentRef Id="SCaddins2017" />
                    <ComponentRef Id="SCaddinsAddin2017" />
                    <ComponentRef Id="SCaddinsEtc" />
                    <ComponentRef Id="SCexportConfigProto" />
                    <ComponentRef Id="SCaddinsRFA2017" />
                </Feature>
                <?endif?>
                
                <?if $(env.R2018) = Enabled ?> 
                <Feature Id="Revit2018" Level="1" Title="SCaddins for Revit 2018">
                    <ComponentRef Id="SCaddins2018" />
                    <ComponentRef Id="SCaddinsAddin2018" />
                    <ComponentRef Id="SCaddinsEtc" />
                    <ComponentRef Id="SCexportConfigProto" />
                    <ComponentRef Id="SCaddinsRFA2018" />
                </Feature>
                <?endif?>
				
			<?if $(env.R2019) = Enabled ?> 
                <Feature Id="Revit2019" Level="1" Title="SCaddins for Revit 2019">
                    <ComponentRef Id="SCaddins2019" />
                    <ComponentRef Id="SCaddinsAddin2019" />
                    <ComponentRef Id="SCaddinsEtc" />
                    <ComponentRef Id="SCexportConfigProto" />
                    <ComponentRef Id="SCaddinsRFA2019" />
                </Feature>
                <?endif?>

                <WixVariable Id="WixUIDialogBmp" Value="wixd.bmp" />
                <WixVariable Id="WixUIBannerBmp" Value="wixb.bmp" />
                <Icon Id="sc.ico" SourceFile="..\share\icons\64x64\sc.ico" />
                <Property Id="ARPPRODUCTICON" Value="sc.ico" />
                <Property Id="ARPCONTACT" Value="andrewn@scottcarver.com.au" />
                <Property Id="ARPHELPLINK" Value="https://github.com/acnicholas/scaddins/wiki"/>
                <Property Id="ARPURLUPDATEINFO" Value="https://github.com/acnicholas/scaddins/releases" />

                <MajorUpgrade AllowDowngrades="yes"/>
        
                <InstallExecuteSequence>
                <AppSearch Sequence='1' />
                <Custom Action="WixCloseApplications" Before="InstallValidate">WIX_UPGRADE_DETECTED</Custom>
                </InstallExecuteSequence>
        
                <UI Id='Mondo'>
                    <UIRef Id="WixUI_Mondo"/>
                    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" Order="3">1</Publish>
                    <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>	
                </UI>

            </Product>
        </Wix>
